<h1 mat-dialog-title>{{ editMode ? 'Edit Rule' : 'Create Rule' }}</h1>
<div mat-dialog-content>

    <mat-form-field class="half-width">
        <mat-label>Bank Account</mat-label>
        <mat-select id="bank-account-selector" [(ngModel)]="rule.bankAccountId">
            <mat-option [id]="account.name" *ngFor="let account of bankAccounts;" [value]="account.id">{{account.name}}</mat-option>
        </mat-select>
    </mat-form-field>
  

  <mat-form-field>
    <mat-label>Target Amount</mat-label>
    <input id="target-amount-input" type="number" matInput [(ngModel)]="rule.target.amount">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Rule Type</mat-label>
    <mat-select id="type-selector" [(ngModel)]="rule.type">
        <mat-option [id]="type" *ngFor="let type of types;" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="rule.description">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button id="create-rule" mat-button [mat-dialog-close]="getResultingRule()" cdkFocusInitial>{{ editMode ? 'Save' : 'Create' }}</button>
</div>
