<h1 mat-dialog-title>{{ editMode ? 'Edit Rule' : 'Create Rule' }}</h1>
<div mat-dialog-content>

    <mat-form-field class="half-width">
        <mat-label>Bank Account</mat-label>
        <mat-select [(ngModel)]="rule.bankAccountID">
            <mat-option *ngFor="let account of bankAccounts;" [value]="account.id">{{account.name}}</mat-option>
        </mat-select>
    </mat-form-field>
  

  <mat-form-field>
    <mat-label>Target Amount</mat-label>
    <input type="number" matInput [(ngModel)]="rule.target.amount">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Rule Type</mat-label>
    <mat-select [(ngModel)]="rule.ruleType">
        <mat-option *ngFor="let type of types;" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="rule.description">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button mat-button [mat-dialog-close]="getResultingRule()" cdkFocusInitial>{{ editMode ? 'Save' : 'Create' }}</button>
</div>
