<h1 mat-dialog-title>{{ editMode ? 'Edit Savings Goal' : 'Create Savings Goal' }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input id="name-input" matInput [(ngModel)]="savingsGoal.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input id="description-input" matInput [(ngModel)]="savingsGoal.description">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Matching Type</mat-label>
    <mat-select id="matching-type-selector" [(ngModel)]="savingsGoal.matchingType">
        <mat-option [id]="type" *ngFor="let type of types;" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button id="create-savings-goal" mat-button [mat-dialog-close]="getResultingSavingsGoal()" cdkFocusInitial>{{ editMode ? 'Save' : 'Create' }}</button>
</div>
