.app-name {
    margin-left: 10px;
}

.container {
    height: 100vh;
}

.sidenav-content {
    height: 100%;
    align-items: top;
    margin: 20px;
    justify-content: center;
    padding-left: 235px;
}