<h1 mat-dialog-title>{{ editMode ? 'Edit Bank Account' : 'Create Bank Account' }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input id="name-input" matInput [(ngModel)]="bankAccount.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input id="description-input" matInput [(ngModel)]="bankAccount.description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Balance</mat-label>
    <input id="balance-input" type="number" matInput [(ngModel)]="bankAccount.balance.amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Disposition Limit</mat-label>
    <input id="dispo-input" type="number" matInput [(ngModel)]="bankAccount.dispositionLimit.amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Labels (Comma Separated)</mat-label>
    <input matInput [(ngModel)]="labels">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button id="create-bank-account" mat-button [mat-dialog-close]="getResultingBankAccount()" cdkFocusInitial>{{ editMode ? 'Save' : 'Create' }}</button>
</div>
